@import "reset.css";
@import "status-bar.css";
@import "variables.css";
body {
    font-family: sans-serif;
}
.introduction {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 20px;
}
.introduction__title {
    font: 25px black bold;
    margin-bottom: 40px;
}
.introduction__sentence {
    width: 400px;
    font: 15px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-input {
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
}
#find-account {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-input__element {
    width: 400px; height: 30px;
    border: none;
    border-bottom: 2px solid gray;
}

.login-input__btn {
    width: 400px; height: 30px;
    margin-top: 10px;
    border-radius: 5%;
    background-color: lightgray;
    transition: border-bottom .3s ease-in-out;
}
.login-input__create-account {
    width: 400px; height: 30px;
    margin-top: 5px;
    border-radius: 5%;
    background-color: var(--kyellow-);
}
.login-input__element:focus {
    border-bottom: --kyellow-;
}
find-account span {
    margin-right: 5px;
}